node_modules
build
.idea
*.iml
.vscode/
dist/
benchmark/generated/
/tmp.js
/target/
**/*.rs.bk
Cargo.lock
/rust/src
/rust/target
*.compiled.carmi.js
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
**/.DS_Store
